<template>
  <div class="game-over">
        <h1> Game finished! All questions have been answered </h1>
        <h2> Score: {{ score }}</h2>

        <!-- Button for restarting the game -->
        <button @click="restartGame"> Try again </button>

  </div>
</template>

<script>
export default {

    // Properties used for this component
    props: {
        score: Number,  
    },

    // Methods used for this component
    methods: {

        // Restart the game by reloading the page
        restartGame() {
            window.location.reload();
        }
    }
}
</script>

<style>

</style>