<template>
  <div class="question-box-container">
    <!-- Show current question number and score -->
    <h2>Question: {{ currentQuestionNumber + 1 }}/{{ 10 }} Score: {{ score }}</h2>
    
    <!-- Show the question -->
    <h2 v-html="currentQuestion.question"/>
    
    <!-- List all possible answers for the current question -->
    <ul class="list-group">
      <button v-for="(answer, index) in shuffledAnswers" :key="index" v-html="answer" @click.prevent="selectAnswer(index)" :class="answerClass(index)"/>
    </ul>
    
    <!-- Button for submitting your answer -->
    <button @click="submitAnswer" :disabled="selectedIndex === null || answered"> Submit Answer </button>

  </div>
</template>

<script>
export default {

    // Properties used for this component
    props: {

      currentQuestion: Object,
      nextQuestion: Function,
      score: Number,
      currentQuestionNumber: Number     
    },

    // Data used for the various methods in this component
    data: function() {
      
      return {
        selectedIndex: null,
        correctIndex: null,
        shuffledAnswers: [],
        answered: false
      }
    },

    // Create a watcher that watches as soon as the component is loaded, runs the bundleAnswers method to bundle the current questions' answers
    watch: {
      currentQuestion: {

        immediate: true,
        handler: function() {

          this.selectedIndex = null;
          this.answered = false;
          this.bundleAnswers();
        }
      }
    },

    // Methods used in this component
    methods: {

      // Set the index to the chosen answer
      selectAnswer(index) {
        this.selectedIndex = index;
      },

      // Submit the chosen answer, checking if the answer was correct or not
      submitAnswer() {

        let isCorrect = false;

        if(this.selectedIndex === this.correctIndex) {
          isCorrect = true;
        }

        this.answered = true;

      // Loads the next question
      this.nextQuestion(isCorrect);
    },

    // Bundle and shuffle the possible answers together, so that the correct answer isn't in the same position everytime
    bundleAnswers() {

      let answers = [...this.currentQuestion.incorrect_answers, this.currentQuestion.correct_answer];
      this.shuffledAnswers = answers.sort(() => Math.random() - 0.5);

      // Save the index of the correct answer, for checking when you submit your answer
      this.correctIndex = this.shuffledAnswers.indexOf(this.currentQuestion.correct_answer);
    },

    // Highlight the currently selected answer's button
    answerClass(index) {

      let answerClass = '';
      if(!this.answered && this.selectedIndex === index) {
        answerClass = 'chosen-answer';
      }

      return answerClass;
    }
  }
}

</script>

<style scoped>

  .list-group {
    margin-bottom: 15px;
  }

  .list-group-item:hover {
    background: #EEE;
    cursor: pointer;
  }

  .chosen-answer {
    background-color: var(--background-accent);
  }

</style>

