<template>
  <header class="header">
      <h1>Trivia app</h1>
      <h2>A game where you answer questions</h2>
  </header>
</template>

<script>
export default {

}
</script>

<style scoped>
    .header {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 8px;
    }

</style>