<template>
  <div id="app">
        <Header />

    <main>
      <!-- Button for starting the game -->
        <button class="button-container" @click="startGame" v-if="!gameRunning && !gameFinished"> Start the Game </button>

      <!-- Loads the questions, score, and question number -->
      <GameBoard 
      v-if="gameRunning && !gameFinished"
      :currentQuestion="questions[index]"
      :nextQuestion="nextQuestion"
      :currentQuestionNumber="currentQuestionNumber"
      :score="score"
      />

      <!-- Loads the end of the game screen -->
      <GameOver
      v-if="gameFinished"
      :score="score"
      />

    </main>
  </div>
</template>

<script>
import GameBoard from './components/GameBoard';
import Header from './components/Header';
import GameOver from './components/GameOver';

export default {

  name: 'App',
  components: {
    GameBoard,
    Header,
    GameOver
  },

  data() {
    return {
      questions: [],
      index: 0,
      currentQuestionNumber: 0,
      score: 0,
      gameRunning: false,
      gameFinished: false
    }
  },

  methods: {
    nextQuestion(isCorrect) {
      
      if(isCorrect) {
        this.score += 100;
      }

      if(this.currentQuestionNumber === 9){
        this.gameFinished = true;
        this.gameRunning = false;
      }

      this.currentQuestionNumber++;
      this.index++;
    },

    startGame() {
      this.gameRunning = true;
    },

  },

  mounted: function() {

    fetch('https://opentdb.com/api.php?amount=10', {
      method: 'get'
    })

    .then((response) => {
      return response.json()
    })

    .then((jsonData) => {
      this.questions = jsonData.results;
    })
  }
}

</script>


<style>

  :root {
    --background-accent: #DBF8A3;
    --light: #92DE34;
    --text: #025600;
    --background: #5D5D5D;
  }

  html, body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--background);

    color: whitesmoke;
    justify-content: center;
    text-align: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;

  }

 button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--light);
  width: 400px;
  height: 70px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin: 10px;
}

.button-container {
  margin: 5em;
}

  
</style>
